.git
build/
objs/
cmake-build-*/
.idea/
.vscode/
*.o
*.a
*.d
*.dSYM
*.pyc
*.csv
__pycache__/
/Luz
/Luz.exe
/LuzTests
/LuzTests.exe
/luz
/luz.exe
/luz_tests
/luz_tests.exe
render.bmp
render.tiff
sequence/
renders/
Makefile.tmp
perlinNoise.bmp
perlinNoise.tiff
renderTimes.bmp
renderTime.bmp
assets/objects/*.obj
!assets/objects/suzanne.obj
