*.swp
*.swo
*.o
*.a
*.d
*.pyc
*.out
__pycache__/
*.dSYM
/Luz
/Luz.exe
/LuzTests
/LuzTests.exe
build/
cmake-build-*/
.idea
.DS_Store
.vscode
render.bmp
render.tiff
sequence/**
objs
renders/
Makefile.tmp
perlinNoise.bmp
perlinNoise.tiff
renderTimes.bmp
renderTime.bmp
